@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root{
  --celula-tamanho: 100px;
  --celula-tamanhoMobile: 80px;
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}

.dreamworks{
  font-size: 14.5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001c2d;
  color: white;
  font-family: "Gabarito", sans-serif;
  font-size: 17px;
}

button:hover{
  cursor:pointer;
}

.grid{
  border-spacing: 2px;
  margin-top: 0px;
  margin-right: 101px;
  min-width: 410px;
}

.grid td{
  padding: 0;
  width: var(--celula-tamanho);
  max-width: var(--celula-tamanho);
  height: var(--celula-tamanho);
}

.brdrLinha{
  background-color: #0e700e;
  padding: 8px;
  width: max-content;
  border-radius: 10px;
  margin: auto;
  overflow-wrap: break-word;
}

.brdrColuna{
  background-color: #ff6811;
  padding: 8px;
  width: max-content;
  max-width: calc(var(--celula-tamanho) - 20px);
  border-radius: 10px;
  margin: auto;
  overflow-wrap: break-word;
}

.grid tr td button{
  background-color: #163c5e;
  border: none;
}

#vazio{
  /* border-bottom: 4px solid #163c5e; */
}

.botao{
  width: 100%;
  height: 100%;
  font-size: 0px;
}

.botao:disabled{
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor:default;
}

.container{
  display: flex;
  position: absolute;
  width: 98.9%;
  left: calc(50vw - 150px);
  top: 20%;
  transition: visibility 300ms linear 0s, opacity 300ms;
}

.palpite, .vitoria{
  background-color: #032b4e;
  flex-direction: column;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;
  min-height: 150px;
  padding-bottom: 20px;
  font-family: "Gabarito", sans-serif;
}

.palpite h3{
  font-size: 18px;
}

.vitoria{
  padding-bottom: 12px;
}

.vitoria span{
  width: 30%;
  margin-top: 4px;
  margin-bottom: 8px;
}

.vict {
  transition: visibility 300ms linear 0s, opacity 300ms;
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-inline: auto;
  margin-top: 15px;
  margin-bottom: 0px;
}

.vict img{
  width: 180px;
}

.pontuacao{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.pontuacao table{
  width: 55%;
}

#erroAviso{
  margin-bottom: 7px;
}

#palpite-input{
  color: white;
  border-radius: 5px;
  font-size: 20px;
  min-height: 30px;
  background-color: #3868928c;
  border: none;
  margin-bottom: 20px;
  font-family: "Gabarito", sans-serif;
}

#palpite-input:focus{
  outline: none;
}

#fecharP{
  background: none;
  border: none;
  color: white;
  font-weight: bolder;
  margin-left: calc(100% - 40px);
  margin-top: 10px;
  font-family: "Gabarito", sans-serif;
}

#enviar, #compartilhar{
  font-family: "Gabarito", sans-serif;
  font-size: 17px;
  color: white;
  background-color: #e46821;
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-inline: 10px
}

@media screen and (max-width: 600px){

  body{
    position: relative;
    font-size: 15px;
  }

  .grid td{
    padding: 0;
    min-width: var(--celula-tamanhoMobile);
    max-width: var(--celula-tamanhoMobile);
    height: var(--celula-tamanhoMobile);
  }

  .grid{
    border-spacing: 2px;
    margin-top: 0px;
    margin-right: 40px;
    min-width: 410px;
    max-width: 410px;
  }

  .grid{
    min-width: 0px;
  }

  .brdrColuna{
    padding: 8px;
    max-width: calc(var(--celula-tamanho) - 40px);
    margin: auto;
    overflow-wrap: break-word;
  }

  .pontuacao table{
    width: 65%;
    margin-left: 40px; 
  }

  .vitoria span{
    width: 25%;
  }

  .container{
    top: 40%;
  }

  /* .palpite{
    min-width: 300px;
    min-height: 150px;
    padding-bottom: 20px;
    font-family: "Gabarito", sans-serif;
  } */

}


