@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root{
  --celula-tamanho: 100px;
  --celula-tamanhoMobile: 90px;
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}

.dreamworks{
  font-size: 14.5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001c2d;
  color: white;
  font-family: "Gabarito", sans-serif;
  font-size: 17px;
}

button:hover{
  cursor:pointer;
}

.grid{
  border-spacing: 2px;
  margin-top: 0px;
  margin-right: 101px;
  min-width: 410px;
}

.grid th{
  max-height: var(--celula-tamanho);
}

.grid td{
  padding: 0;
  width: var(--celula-tamanho);
  max-width: var(--celula-tamanho);
  height: var(--celula-tamanho);
  max-height: var(--celula-tamanho);
}

.brdrLinha{
  background-color: #0e700e;
  padding: 8px;
  width: max-content;
  max-width: calc(var(--celula-tamanho) - 20px);
  max-height: calc(var(--celula-tamanho) - 20px);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  /* overflow-wrap: break-word; */
}

.brdrColuna{
  background-color: #ff6811;
  padding: 8px;
  width: max-content;
  max-width: calc(var(--celula-tamanho) - 20px);
  max-height: calc(var(--celula-tamanho) - 20px);
  border-radius: 10px;
  margin: auto;
  overflow-wrap: break-word;
}

.grid tr td button{
  background-color: #163c5e;
  border: none;
}

.botao{
  width: 100%;
  height: 100%;
  font-size: 0px;
  max-height: var(--celula-tamanho);
  overflow: hidden;
}

.botao:disabled{
  font-size: 16px;
  color: rgb(255, 255, 255);
  cursor:default;
  font-family: "Gabarito", "sans serif";
  overflow-wrap: break-word;
  max-height: var(--celula-tamanho);
}

.container, .containerRegras{
  display: flex;
  position: absolute;
  width: 98.9%;
  left: calc(50vw - 150px);
  top: 20%;
  transition: visibility 300ms linear 0s, opacity 300ms;
}

.containerRegras{
  display: none;
  left: calc(50vw - 200px);
  top: 13%;
}

.palpite, .vitoria, .regras{
  background-color: #032b4e;
  flex-direction: column;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;
  min-height: 150px;
  padding-bottom: 20px;
  font-family: "Gabarito", sans-serif;
}

.regras{
  max-width: 380px;
  padding: 10px;
  text-align: left;
}

.regras a{
  font-size: 20px;
  margin-bottom: 10px
}

.regras li{
  width: 100%;
  margin-bottom: 12px;
  list-style: none;
}

.palpite h3{
  font-size: 18px;
}

.vitoria{
  padding-bottom: 12px;
}

.vitoria span{
  width: 30%;
  margin-top: 4px;
  margin-bottom: 8px;
}

.vict {
  transition: visibility 300ms linear 0s, opacity 300ms;
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-inline: auto;
  margin-top: 15px;
  margin-bottom: 0px;
}

.vict img{
  width: 180px;
}

.pontuacao, .desistencia{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.pontuacao table{
  width: 55%;
}

#erroAviso{
  margin-bottom: 7px;
}

#palpite-input{
  color: white;
  border-radius: 5px;
  font-size: 20px;
  min-height: 30px;
  background-color: #3868928c;
  border: none;
  margin-bottom: 20px;
  font-family: "Gabarito", sans-serif;
}

#palpite-input:focus{
  outline: none;
}

#fecharP{
  background: none;
  border: none;
  color: white;
  font-weight: bolder;
  margin-left: calc(100% - 40px);
  margin-top: 10px;
  font-family: "Gabarito", sans-serif;
}

#enviar, #compartilhar, #desistir, .confirmaDesiste button, .regras button{
  font-family: "Gabarito", sans-serif;
  font-size: 17px;
  color: white;
  background-color: #ff6811;
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-inline: 10px
}

.regras button{
  font-size: 16px;
}

#desistir:disabled{
  cursor: default;
}

.tmdb, .confirmaDesiste{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dados{
  font-size:12px;
  margin-bottom: 5px;
  margin-top: 20px
}

.tmdb img{
  width: 60px;
}

.confirmaDesiste{
  justify-content: space-between;
}

.botoesDesiste{
  width: 80%;
  margin-top: 5px;
}

.botoesRegras{
  width: 100%;
  margin-top: 5px;
}

.botoesDesiste table, .regras table{
  width: 100%;
}

@media screen and (max-width: 600px){

  body{
    position: relative;
    font-size: 13px;
  }

  .dreamworks{
    font-size: 13px;
  }

  .desistencia button, #desistir{
    font-size: 14px;
  }

  .grid{
    border-spacing: 2px;
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 15px;
    min-width: 0px;
    max-width: 410px;
  }

  .grid td{
    padding: 0;
    min-width: var(--celula-tamanhoMobile);
    max-width: var(--celula-tamanhoMobile);
    height: var(--celula-tamanhoMobile);
    max-height: var(--celula-tamanhoMobile);
  }

  tr{
    height: var(--celula-tamanhoMobile);
  }

  .brdrColuna{
    padding: 8px;
    max-width: calc(var(--celula-tamanhoMobile) - 30px);
    margin: auto;
    overflow: hidden;
  }

  .brdrLinha{
    padding: 8px;
    max-width: calc(var(--celula-tamanhoMobile) - 30px);
    margin: auto;
    overflow: hidden;
  }

  .pontuacao table{
    width: 60%;
    margin-left: 60px; 
  }

  .vitoria span{
    max-width: 60px;
  }

  .container{
    top: 40%;
  }

  .containerRegras{
    top: 20%;
    left: calc(50vw - 170px);
  }

  .regras{
    max-width: 320px;
    padding: 10px;
    text-align: left;
  }
  
  .regras a{
    font-size: 18px;
    margin-bottom: 10px
  }

  .regras button{
    font-size: 14px;
  }

  .botao{
    max-height: var(--celula-tamanhoMobile);
  }

  .botao:disabled{
    font-size: 14px;
    overflow: hidden;
    max-height: var(--celula-tamanhoMobile);
  }

  /* .palpite{
    min-width: 300px;
    min-height: 150px;
    padding-bottom: 20px;
    font-family: "Gabarito", sans-serif;
  } */

}

@-moz-document url-prefix() {
  .botao:disabled{
    font-size: 14px;
    overflow: hidden;
    max-height: var(--celula-tamanho);
  } 
}

@-moz-document url-prefix(){
  @media screen and (max-width: 600px){
    .botao:disabled{
      max-height: var(--celula-tamanhoMobile);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2; 
      -webkit-box-orient: vertical;
    }

    .grid{
      height: var(--celula-tamanhoMobile);
    }
    
    
  }
}




